body {
	width: 20em;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	animation: ikeda-scale 1.2s infinite linear;
}

@keyframes ikeda-scale {
	0% {
		transform: scale(1);
	}
	33% {
		transform: scale(1);
	}
	34% {
		transform: scale(1.2);
	}
	66% {
		transform: scale(1.2);
	}
	67% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1.4);
	}
}